<% provide(:title, 'Team Signup') %>
<div class="page-header">
<h2>Team Sign Up</h2>
</div>
<%#= @bert = "hello" %>
<script>
 window.captain_email = "ntang2@holmanauto.com";

 var min_team_members = 5;
 var max_team_members = 10;

$(document).ready(function(e) {
  $('#team_users_attributes_0_email').attr("placeholder", "Team Chief (you)")
  console.log('Total # of remove links: '+ $('.remove').length);
  
  for(i=0; i<min_team_members; i++){
    $('.remove')[i].id = "remove" + i;
    $('#remove' + i).text('');    
    //$('#remove' + i).toggle();
  }    
  // $('.remove')[0].id = "remove01";
  // $('#remove01').toggle();

//Will use this definitely
  // $('#team_users_attributes_0_email').val(window.captain_email);
  // $('#team_users_attributes_0_email').attr("readonly", true);

  $('FORM').nestedFields({
      afterInsert: function(item) {        
        if($('.item').length > max_team_members) {
          $('#add_member').toggle();
          console.log(item + ' is the last possible member that can be added');
          console.log('Total # of remove links: '+ $('.remove').length);
        }                  
      },
      afterRemove: function(item) {
        if($('#add_member').is(':visible')==false && $('.item').length <= 10 ) {
          $('#add_member').toggle();
        }                
        console.log(item + ' was removed.');
      }      
                        
    });
}); //end of $(document).ready


// $(document).ready(function() {
//   // Handler for .ready() called.
//   if($('.item').length > 1) {
//     alert()
//     $('#add_member').toggle()
//   }
// });

</script>

<div class="row">
  <div class="span10" style="padding-left:30px">
    <%= form_for @team, :html=>{:class=>"form-horizontal"} do |f| %>
      <% if @team.errors.any? %>
        <%#= f.object.errors.inspect %>
        <div id="error_explanation">
          <div class="alert alert-error">
            The form contains <%= pluralize_without_count(@team.errors.count, "error") %>.
          </div>
          <ul>
            <% @team.errors.full_messages.each do |msg| %>
              <li>* <%= msg %></li>
            <% end %>
          </ul>
        </div>                
      <% end %>
    
      <div class="control-group">
        <%= f.label :name, "Team Name" %>
        <%= f.text_field :name, :tabindex => 1 %>
        <br /><br />
        <%= f.label :location_id, "Default location" %>
        <%= f.collection_select :location_id, Location.all, :id, :name, {:prompt => true}, {:tabindex => 1} %>
      </div>

      <legend>Members 
        <small>(You can add up to 5 more members)</small>
      </legend>       
      <%#= text_field_tag 'captain', current_user.email, :readonly => true %>
      <a id="add_member" href="#" class="add btn-link", tabindex = "1", style="margin-left:120px">add another member</a>
      <div class="items control-group" style="padding-left:20px">
        <%= f.nested_fields_for :users do |f| %>        
          <fieldset class="item">
            <%= f.label :email %>
            <%= f.text_field :email, :tabindex => 1 %>            
            <a href="#" class="remove">x</a>
            <%= f.hidden_field :id %>
            <%= f.hidden_field :_destroy %>
          </fieldset>
        <% end %>
      </div>            
      
      <div class="actions"><%= f.submit "Sign Up", class: "btn btn-inverse", :tabindex => 1 %></div>
    <% end %>
  </div>
</div>