<div class="page-header">
<h2><%= @team.name %>:<small> (<%= @team.memberships.count %> members) </small></h2>
<div/>

<% if current_user && @team.memberships[0].user.email == current_user[0].user.email %>
Send weigh-in reminders for:<br/>
  <%= link_to 'Week 1', send_week1_reminder_team_path, :class=>'btn btn-default' %> 
  <%= link_to 'Week 2', send_week2_reminder_team_path, :class=>'btn btn-default' %> 
  <%= link_to 'Week 3', send_week3_reminder_team_path, :class=>'btn btn-default' %> 
  <%= link_to 'Week 4', send_week4_reminder_team_path, :class=>'btn btn-default' %>
<% end %>
<br/><br/>
<% @team.memberships.each do |m| %>  
  <table class="table table-bordered table-hover table-nonfluid">
    <caption>
      <% if current_user && current_user[0].user_id == m.user_id %>
        <%= link_to "#{m.user.email} (You)", edit_membership_path(m) %> 
      <% else %>
        <%= "#{m.user.email} " %>
      <% end %>
      
      <% if @team.memberships[0].user.email == m.user.email %>
        <em>Team Chief</em>
      <% end %>
      </caption>
    
    <thead>  
    <tr>
    <th>week</th>
    <!--td width="1%">id</td--> 
    <th>weight</th>
    <th>start date</th>
    <th>end date</th>  
    <!--th>reminder</th-->      
    </tr>
    </thead>
      <% m.weigh_ins.each do |w| %>  
      <tbody>
      <tr>
      <td><%= "#{w.week}" %> </td>
      <!--td><%#= "#{w.id}" %> </td--> 
      <td>
        <% if current_user && current_user[0].user_id == w.membership.user.id %>
          <%= w.weight %> 
        <% else %>
          <%= "filled" unless w.weight.nil? %>
        <% end %>
      </td>
      <td><%= "#{w.start_date.in_time_zone("Eastern Time (US & Canada)").strftime('%m/%d/%Y')}" if w.start_date %> </td>
      <td><%= "#{w.end_date.in_time_zone("Eastern Time (US & Canada)").strftime('%m/%d/%Y')}" if w.end_date %> </td>                   
      <!--td>

      </td-->
      </tr>      
      </tbody>
      <% end %>    
      <tr>
        <td>Average</td>
        <td><%= m.average_weight unless m.average_weight == 0%></td>
        <td></td>
        <td></td>
      </tr>      
  </table>  
<% end %>
