<%= form_for @membership do |f| %>    
  Team <%= @membership.team_id %> 
  <br />
  <%= @membership.user.email %>
  <br /><br />
  <%= f.label :location_id %>
  <%= f.collection_select :location_id, Location.all, :id, :name, :prompt => true %>
  <ul>
    <%= f.nested_fields_for :weigh_ins do |f| %>
      <li>Week <%= f.object.week %> <%= f.text_field :weight %></li>      
    <% end %>
  </ul>
  <%= f.submit %>
<% end %>


