<%= form_for @membership do |f| %>
<% if @membership.errors.any? %>
  <%#= f.object.errors.inspect %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize_without_count(@membership.errors.count, "error") %>.
      <br/>
      <%= "@selected_country: #{@selected_country}" %>
    </div>
    <ul>
      <% @membership.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
    </ul>
  </div>                
<% end %>

<div class="page-header">
<h2><%= @membership.user.email %></h2>
<div/>    
  <%#= f.label :country_code %><%#= f.text_field :country_code, :size=>"4", :placeholder => "1" %> 
  <%#= f.collection_select :country_code, Country.order(:name), :id, :name, {:prompt => "Please select if you own a non-US phone number"} %>
  <%= f.label :country_code, "Please change this if you own a non-US phone number" %> 
  <br />
  <%= select("kountry", :code, Kountry.all.collect {|p| [ p.name, p.code ] }, {:selected => selected_country, :prompt => "Please select if you own a non-US phone number"}) %>
  <br /><br />
  <%= f.label :phone_number, "Phone" %>
  <%= f.text_field :phone_number, :placeholder => "area code-phone number" %>
  <br /><br />
  <%= f.label :location_id %>
  <%= f.collection_select :location_id, Location.all, :id, :name, {:prompt => true} %>
  <br /><br />
  <ul class="unstyled" style="padding-left:20px">
    <strong>Weigh-Ins</strong>
    <%= f.nested_fields_for :weigh_ins do |f| %>
      <li><span class="control-label">Week <%= f.object.week %></span> <%= f.text_field :weight, :class=>"span1" %></li>      
    <% end %>
  </ul>
  <%= f.submit "Update information", class: "btn btn-inverse" %>
<% end %>


