<!DOCTYPE html>
<html>
<head>
  <title>WellnessProto</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% image_tag("images/favicon.ico") %>
</head>
<body>
  <div class="container">
  <% if current_user %>
    Logged in as <%= link_to "#{current_user[0].user.email}", edit_membership_path(Membership.find(current_user[0].user).id) %> 
    <span class="pull-right"><%= link_to 'Log out', logout_path %></span>
    <br/>
    <%= link_to "View your Team Page", team_path(current_user[0].team_id) %>
    <br />
    <%= link_to "Click here to Edit your profile.", edit_membership_path(Membership.find(current_user[0].user).id) %>    
    <%#= "You are Team Chief" if @team && current_user && @team.memberships[0].user.email == current_user[0].user.email %>
  <% else %>
    <%= link_to 'Login', login_path %>
  <% end %>
  <br />
	<% flash.each do |key, value| %>
  	<div class="flash <%= key %> ">
  		<%= value %>
  	</div>	
  <% end %>
    <%= yield %>
  </div>
</body>
</html>
